@media screen and (max-width:500px) {
    body {
        background-color: whitesmoke;
    }
    .home-card {
        margin-top: 20px;
    }
}


@media screen and (min-width:800px) {
    body {
    background-color: whitesmoke;
    }
    /* .home-navbar {
        background-color: transparent !important;
        background-color: white !important;
    } */
    .text-navcolor {
        color: brown !important;
    }
    .home-btn {
    text-decoration: none;
    font-size: 1.4rem;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px 29px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}
.home {
    height: 90vh;
    background-image: url('../Images/Pepperoni-Pc-Pizza.jpg');
}
.s-pizzas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    margin-top: -17px;
}
.card-img img {
    object-fit: cover;
    height: 260px;
    width: 100%;
}
.card-img {
    border: none;
    border-radius: 10px;
    width: 370px;
}
.card-img:hover {
    transform: scale(1.05);
    transition: .5s all;
}
    /* .home-card1 {
        margin-right: 10px;
    } */
  .card-main {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
  }

}