@media screen and (max-width:500px) {
    body {
        background-color: whitesmoke;
    }
    .home-card {
        margin-top: 20px;
    }
   .lg-image {
    display: none;
}
.c-form {
     height: 500px;
}
.c-form-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* display: block;
    margin-right: auto;
    margin-left: auto; */
}

/* Sign Up */
.sign-up {
    background-image: url('../Images/Menu-Items/download\ \(5\).jpg');
    background-size: contain;
    background-repeat: repeat;
}



/* Sign In */

.sign-in {
    background-image: url('../Images/Menu-Items/𝗪𝗮𝗹𝗹𝗽𝗮𝗽𝗲𝗿.jpg');
    background-size: contain;

}
.sign-up-form input, textarea {
    background-color: rgba(192, 192, 192, 0.61) !important;
    border: none;
    border-radius: 4px;
    padding: 9px 10px;
    outline: none;
    width: 90%;
}

input:focus {
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.521) !important;
    color: red !important;
}
textarea:focus {
    border: 1px solid orange;
    background-color: rgba(0, 0, 0, 0.521) !important;
    color: orange !important;
}
input:focus::placeholder  {
    color: red !important;
}
textarea:focus::placeholder  {
    color: orange !important;
}
input::placeholder {
   color: black !important;
   font-size: 1.1rem;
}
textarea::placeholder {
   color: black !important;
   font-size: 1.1rem;
}




}


@media screen and (min-width:800px) {
    body {
    background-color: whitesmoke;
    }
    /* .home-navbar {
        background-color: transparent !important;
        background-color: white !important;
    } */
    .text-navcolor {
        color: brown !important;
    }
    .home-btn {
    text-decoration: none;
    font-size: 1.4rem;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px 29px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}
.home {
    height: 90vh;
    background-image: url('../Images/Pepperoni-Pc-Pizza.jpg');
}
.s-pizzas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    margin-top: -17px;
}
.card-img img {
    object-fit: cover;
    height: 260px;
    width: 100%;
}
.card-img {
    border: none;
    border-radius: 10px;
    width: 370px;
}
.card-img:hover {
    transform: scale(1.05);
    transition: .5s all;
}
    /* .home-card1 {
        margin-right: 10px;
    } */
  .card-main {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
  }

/* Menu Page Styling  */
.menu-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: -300px !important;
    margin-top: -30px;
    width: 100%;
    padding: 0 50px;
}
.menu-items {
    width: 27%;
    margin: 10px 0;
    border-radius: 20px;
}
.sm-img {
    display: none;
}

/* Contact Page */
.c-form {
    height: 500px;
    width: 50%;
}
.c-form input, textarea {
    background-color: rgba(245, 245, 245, 0.507) !important;
    border: none;
    border-radius: 4px;
    padding: 11px 11px;
    outline: none;
    width: 70%;
}
.c-textarea {
    width: 70%;
}
.c-form-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.c-btn {
    width: 200px;
}
.contact {
    background-image: url('../Images/Menu-Items/Top\ view\ Photos\ -\ Download\ Free\ High-Quality\ Pictures\ _\ Freepik.jpg');
}

/* Sign Up */
.sign-up {
    background-image: url('../Images/Menu-Items/Pizza\ Hut_\ Pizza\ 🍕.jpg');
    background-size: contain;
    
}
.sign-up-form {
    width: 50%;
    padding-bottom: 20px !important;
    height: 530px;
}

.sign-up-form input, textarea {
    background-color: rgba(192, 192, 192, 0.61) !important;
    border: none;
    border-radius: 4px;
    padding: 11px 11px;
    outline: none;
    width: 50%;
}

.sign-up-form input:focus {
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.521) !important;
    color: red !important;
}
.sign-up-form textarea:focus {
    border: 1px solid orange;
    background-color: rgba(0, 0, 0, 0.521) !important;
    color: orange !important;
}
.sign-up-form input:focus::placeholder  {
    color: red !important;
}
.sign-up-form textarea:focus::placeholder  {
    color: orange !important;
}
.sign-up-form input::placeholder {
   color: black !important;
   font-size: 1.1rem;
}
.sign-up-form textarea::placeholder {
   color: black !important;
   font-size: 1.1rem;
}


/* Sign In */
.sign-in {
    background-image: url('../Images/Menu-Items/Top\ view\ Photos\ -\ Download\ Free\ High-Quality\ Pictures\ _\ Freepik.jpg');
    background-size: contain;
}
.sign-in-form {
    height: 350px;
    border: 1px solid red;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(0, 128, 0, 0.568);
    border-radius: 8px;
    

}
.sign-in-form input {
    padding: 7px 5px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 2px;
    background-color: rgba(255, 255, 255, 0.705);
}
.sign-in-form label {
    color: black;
    font-size: 1.2rem;
    margin-top: 10px;
    color: white;
}
.signin-btn {
    width: 200px;
    padding: 20px 30px;
}


}