body {
    background-color: whitesmoke;
}
.text-2 {
    color: red !important;
}

.h1-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
} 
.h1-shadow::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: yellow;
    margin: 1rem auto 0;
    border-radius: 2px;
}
.home {
    background-image: linear-gradient(135deg, #d32f2f 0%, #ff6f00 100%);
    height: 87vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.h1-text-shadow {
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}
.home-btn {
    text-decoration: none;
    font-size: 1.1rem;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 12px 19px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    transition: .5s all;
}
.home-btn1:hover {
    background-color: black !important;
    color: white !important;
}
.home-btn2:hover {
    background-color: white !important;
    color: red !important;
}
.s-pizzas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: -25px;
}
.card-img img {
    object-fit: cover;
    height: 260px;
    width: 100%;
    border-radius: 9px;
}
.card-img {
    border: none;
    border-radius: 9px;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
}
.card-img:hover {
    transform: scale(1.05);
    transition: .5s all;
}